<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= appname %></title>
    <% if(css) { %> <link href="style.css" rel="stylesheet"> <% } else { %>  <% } %>
</head>

<body>
    <h1>hello word</h1>
    <% for (var i=0,len=jsLibs.length;i<len;i++) { %>
        <script src="<%= jsLibs[i] %>"></script>
    <% } %>
</body>

</html>